.Gallery {
	figure {
		background-color: aquamarine;
	}
	.loader {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.frame {
		opacity: 0;
		transform: translateY(200px);
		transition: opacity 0.5s, transform 0.5s;

		&.on {
			opacity: 1;
			transform: translateY(0px);
		}

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				background: #fff;
				padding: 10px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);

				.pic {
					width: 100%;
					img {
						width: 100%;
					}
				}

				h2 {
					font: normal 14px/1.2 'arial';
					color: #777;
					margin-bottom: 30px;
					margin-top: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Gallery {
		.inner {
			.frame {
				article {
					width: 50%;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.Gallery {
		.inner {
			.frame {
				article {
					width: 100%;
				}
			}
		}
	}
}
